@tailwind base;
@tailwind components;
@tailwind utilities;

/* hsl colors */
:root,
.dark {
  --fd-background: 0 0% 6%;
  --fd-card: 180 2% 10%;
}

#nd-sidebar {
  background-color: hsl(var(--fd-background));
}

code {
  font-family: var(--font-geist-mono);
}